@media only screen and (max-width: 701px) {
    li,
    a {
        list-style: none;
        text-decoration: none;
        margin-top: 0.4rem;
    }

    .primernav {
        position: absolute;
        top: 10%;
        /* posicion del dropdown*/
        left: 10%;
        width: 150px;
        border-radius: 5px;
        padding: 1rem;
      }
    
}